<% content_for :page_title do %>
    <%= Spree.t(:taxon_prices) %>
<% end %>
<%= render :partial => 'spree/admin/taxons/taxon_tabs', :locals => { :current => 'Prices' } %>

  <% content_for :page_actions do %>
  <li id="new_price_link">
    <%= button_link_to t(".new_price"), new_taxon_price_url, { :remote => true, :icon => 'plus', :id => 'new_admin_taxonomy_taxon_taxon_price' } %>
  </li>
<% end if can?(:create, Spree::TaxonPrice) %>


  <%= render 'table', prices: @prices %>





